@import "tailwindcss";
@layer base {
  html, body, #root, #react-app { height: 100%; }
}

@font-face {
  font-family: "Pretendard";
  src: url("@/assets/fonts/PretendardVariable.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style : normal;
}


@theme {
  /* 테마 컬러 */
  --color-primary:   oklch(77.23% 0.137 11.77);  /* #FF8E9E */
  --color-secondary: oklch(84.38% 0.086 353.51); /* #F9B5D0 */
  --color-tertiary:  oklch(80.41% 0.068 206.67); /* #8ACCD5 */
  --color-fourth:    oklch(94.91% 0.000 0); /* #EEEEEE */

  /* 회색 스펙트럼 */
  --color-gray-10:   oklch(98.51% 0.000 0); /* #FAFAFA */
  --color-gray-50:   oklch(95.51% 0.000 0); /* #F0F0F0 */
  --color-gray-100:  oklch(89.14% 0.000 0); /* #DBDBDB */
  --color-gray-200:  oklch(80.47% 0.000 0); /* #BFBFBF */
  --color-gray-300:  oklch(68.30% 0.000 0); /* #999999 */
  --color-gray-400:  oklch(62.01% 0.000 0); /* #868686 */
  --color-gray-500:  oklch(51.03% 0.000 0); /* #666666 */
  --color-gray-600:  oklch(48.19% 0.000 0); /* #5E5E5E */
  --color-gray-700:  oklch(43.86% 0.000 0); /* #525252 */
  --color-gray-800:  oklch(37.15% 0.000 0); /* #404040 */
  --color-gray-900:  oklch(30.92% 0.000 0); /* #303030 */
  --color-gray-950:  oklch(23.93% 0.000 0); /* #1F1F1F */

  /* 블랙 */
  --color-black:     oklch(28.91% 0.000 0); /* #2B2B2B */

  /* 폰트 크기 (16px ~ 52px, 4px씩 증가) */
  --text-1: 1rem;    /* 16px */
  --text-2: 1.25rem; /* 20px */
  --text-3: 1.5rem;  /* 24px */
  --text-4: 1.75rem; /* 28px */
  --text-5: 2rem;    /* 32px */
  --text-6: 2.25rem; /* 36px */
  --text-7: 2.5rem;  /* 40px */
  --text-8: 2.75rem; /* 44px */
  --text-9: 3rem;    /* 48px */
  --text-10: 3.25rem;/* 52px */

  /* 폰트 종류 */
  --font-sans: "Pretendard", sans-serif;
}

/***************************/

/* SweetAlert */
/* 팝업창 */
.swal2-popup {
  border-radius: 20px !important;
  background: #EEEEEE !important;
}

/* 버튼 스타일 */
.swal2-confirm {
  background-color: #FF8E9E !important;
  color: white !important;
  border-radius: 32px !important;
  padding: 8px 16px !important;
}
.swal2-cancel {
  background-color: #8ACCD5 !important;
  color: white !important;
  border-radius: 32px !important;
  padding: 8px 16px !important;
}

/* 진행바 색상 */
.swal2-timer-progress-bar {
  background: #8ACCD5 !important;
}

